.cp__handbooks {
  &-content {
    @apply flex flex-col justify-between flex-1 overflow-y-auto;

    -webkit-font-smoothing: antialiased;
    overflow-y: overlay;

    &-wrap {
      @apply flex justify-center flex-col flex-1 h-full overflow-y-auto relative;
    }

    .hd {
      @apply dark:text-white px-3 pt-3 pb-2 sticky top-0 left-0 z-[4] transition-shadow duration-200;

      background-color: var(--ls-tertiary-background-color1);

      .title {
        text-align: left;
        width: 266px;
      }
    }

    &.scrolled {
      .hd {
        box-shadow: -3px 4px 6px -6px #ccc;
      }
    }

    .pane {
      @apply py-1 px-4 dark:text-gray-50;
    }

    .pane>h2,
    .ft>h2 {
      @apply py-2 text-base font-medium dark:text-gray-100;
    }

    .ft {
      @apply px-4 pt-4 pb-2;

      background-color: var(--ls-quaternary-background-color);

      /*noinspection ALL*/

      svg {
        stroke-width: 1.5px;
      }
    }

    .category-card {
      @apply flex rounded px-2 py-3 active:opacity-90 cursor-pointer transition-colors items-end;

      border-left: 4px solid var(--ls-secondary-background-color1);
      background-color: var(--ls-secondary-background-color1);

      &[data-total="0"] {
        @apply hidden;
      }

      &:hover,
      &:active {
        background-color: var(--ls-primary-background-color1);
      }

      >.icon-wrap {
        @apply flex justify-end pr-2 pb-[2px] opacity-20;
      }

      >.text-wrap {
        @apply flex flex-col min-h-[48px] justify-end;

        >strong {
          @apply font-medium leading-tight text-sm;
        }

        >span {
          @apply text-xs pt-1;

          color: var(--ls-primary-text-color);
        }
      }
    }

    .categories-list {
      @apply grid grid-cols-2 gap-3;
    }
  }

  &-popup {
    --ls-primary-background-color1: var(--ls-primary-background-color, var(--lx-gray-01, var(--rx-gray-02)));
    --ls-secondary-background-color1: var(--ls-secondary-background-color, var(--lx-gray-03, var(--rx-gray-03)));
    --ls-tertiary-background-color1: var(--ls-tertiary-background-color, var(--lx-gray-05, var(--rx-gray-05)));
    --ls-quaternary-background-color1: var(--ls-quaternary-background-color, var(--lx-gray-08, var(--rx-gray-08)));

    @apply rounded-lg border shadow-lg gap-1 pt-1;

    background-color: var(--ls-primary-background-color1);
    border: 1px solid var(--ls-primary-background-color1);
    touch-action: none;
    height: 686px;
    max-height: 45vh;
    font-size: 0.88em;
  }
}

html[data-theme="light"] {
  .cp__handbooks-popup {
    background-color: var(--ls-primary-background-color1);

    .input-wrap {
      background-color: #f1f1f1;

      &:focus-within {
        background-color: transparent;
      }
    }
  }

  .cp__handbooks-content {

    .categories-list {
      .category-card {

        &:hover,
        &:active {
          background-color: var(--ls-primary-background-color1);
        }
      }
    }

    ul {
      list-style: unset;

      ul {
        list-style: circle;

        ul {
          list-style: square;
        }
      }
    }
  }
}