.tippy-popper {
  max-width: 860px;

  .tippy-tooltip.transparent-theme {
    background-color: var(--ls-primary-background-color);

    [x-circle] {
      background-color: var(--ls-primary-background-color);
    }
  }

  [x-placement^=top] {
    [x-arrow] {
      border-top-color: var(--ls-tertiary-background-color);
    }

    .tippy-tooltip.transparent-theme [x-arrow] {
      border-top-color: var(--ls-primary-background-color);
    }
  }

  [x-placement^=bottom] {
    [x-arrow] {
      border-bottom-color: var(--ls-tertiary-background-color);
    }

    .tippy-tooltip.transparent-theme [x-arrow] {
      border-bottom-color: var(--ls-primary-background-color);
    }
  }

  [x-placement^=left] {
    [x-arrow] {
      border-left-color: var(--ls-tertiary-background-color);
    }

    .tippy-tooltip.transparent-theme [x-arrow] {
      border-left-color: var(--ls-primary-background-color);
    }
  }

  [x-placement^=right] {
    [x-arrow] {
      border-right-color: var(--ls-tertiary-background-color);
    }

    .tippy-tooltip.transparent-theme [x-arrow] {
      border-right-color: var(--ls-tertiary-background-color);
    }
  }

  .tippy-tooltip.customized-theme * {
    text-align: left;
  }

  .tippy-tooltip.monospace-theme {
    font-family: 'Fira Code', Monaco, Menlo, Consolas, 'COURIER NEW', monospace;
  }
}

.tippy-tooltip {
  @apply shadow border border-gray-07 dark:border-gray-05 px-2 py-1;

  will-change: auto;
  color: var(--ls-primary-text-color, hsl(var(--foreground)));
  background-color: var(--ls-primary-background-color);
  box-shadow: 0 0 3px 3px var(--ls-tertiary-background-color);

  [x-circle] {
    will-change: auto;
  }
}

.tippy-wrapper {
  border-radius: 8px;
  margin: 0 -6px;
}

.tippy-hover {
  cursor: pointer;
}